body{
    color:  rgb(63, 65, 71);
    text-align: center;
}
.hero{
   
    margin:0px;
    width:100%;
    height:500px;
    background-image: url(gate.jpg);
    background-size:100% 500px;
    /**background-position: center;
    background-repeat: no-repeat;*/
    border: 1px rgb(61, 54, 54) solid;
    border-radius: 10px;
}
.tt{
    
    font-family: cursive;
    text-shadow: 0 0 3px black;
    padding: 0 8px 4px 8px;
    margin:125px auto 0px auto;
    background:  rgb(63, 65, 71);
    width: fit-content;
    color: white;
}
#t2{
    margin-top: 20px;
}
.loc{
    width:fit-content;
    background: beige;
    display: flex;
    justify-content:space-evenly;
    margin:20px 20px;
   
}
.iloc{
    width: 100%;
    padding: 15px;
}
.link{
    width:100%;
    display: flex;
    justify-content: space-evenly;
   
}
.img{
    border-radius: 50%;
    margin:10px 0 0 0;
    width: 150px;
    height:150px;
}
.iloc:hover{
    border: 1px solid rgb(63, 65, 71);
    background-color:rgb(238, 238, 171) ;
    font-size: larger;
    border-bottom: 3px solid;
}
.img:hover{
    width: 200px;
    height:200px;
}
.guide{
    display: flex;
    justify-content: space-between;
    margin:50px auto 0 auto;
    background: beige;
    border-bottom: 3px solid;
    width:500px;
    height:275px;
    padding:15px;
}
.me{
   margin: 10px 5px 0 10px;
    border:1px solid  rgb(63, 65, 71);
    border-radius: 2px;
    width:225px;
    height:250px;
}



